
#disqus_thread{
  margin: 0 auto 35px;
  width: 100%;
  max-width: 680px;
}

/*DESKTOP*/
@media screen and (max-width: 1070px){
  #disqus_thread{
    max-width: 507px;
  }
}

/*TABLET*/
@media screen and (max-width: 735px){
  #disqus_thread{
    max-width: 486px;
    margin: 0 auto 25px;
  }
}

/*PHABLET*/
@media screen and (max-width: 540px) {
  #disqus_thread {
    padding: 0 20px;
  }
}


.gist{
  margin: 0 auto 35px;
  width: 100%;
  max-width: 680px;
}

/*DESKTOP*/
@media screen and (max-width: 1070px){
  .gist{
    max-width: 507px;
  }
}

/*TABLET*/
@media screen and (max-width: 735px){
  .gist{
    max-width: 486px;
    margin: 0 auto 25px;
  }
}

/*PHABLET*/
@media screen and (max-width: 540px) {
  .gist {
    padding: 0 20px;
  }
}
